/* general styling */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    transition: all.5s linear;
    font-family: cursive;
}

body {
    overflow-x: hidden;
}

html {

    /* font-size: 1vw; */
    font-size: 10px;
}

.show{
    display: none;
}
.homeCo{
    display: block;
}

.counter-container{
    height: 100vh;
    color: white;
    font-size: 30px;
    /* border: 1px solid white; */
}

#home {
    background-color: black;
}

.right-div {
    height: 50vh;
    width: 30vw;
    border: 1px solid rgb(122, 120, 120);
    position: fixed;
    transform: rotate(-145deg);
    left: -12rem;
    top: 32rem;
    z-index: -2;
}

.left-div {
    height: 50vh;
    width: 30vw;
    border: 1px solid rgb(122, 120, 120);
    position: fixed;
    transform: rotate(-45deg);
    right: -16rem;
    top: 3rem;
    z-index: -2;
} 

/* Start Header Area */
.headerContainer-bg {
    height: 10vh;
    position: fixed;
    top: 0;
    z-index: 10;
}


.home{
    border: 2px solid white;
    /* padding: 12px; */
}

.profile-pic{
    /* padding: 12px; */
    /* border: 2px solid white; */
}

.profile-pic img {
    /* border: 2px solid white; */
    border-radius: 50%;
    height: 40px;
    width: 40px;
    
}

.profile-pic-name {
    font-size: 1.4rem;
    letter-spacing: 0.4rem;
    color: #fff;
}

a {
    text-decoration: none;
}

nav {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: -100vh;
    left: 0;
    z-index: 99;
    background-color: rgb(122, 120, 120);
    border-bottom-right-radius: 100%;
    border-bottom-left-radius: 100%;
    transition: all 650ms cubic-bezier(1, 0, 0, 1);
    /* border: 2px solid white; */

}

nav.open {
    top: 0;
    border-radius: initial;
}

.nav-list {
    width: 100%;
    list-style: none;
    height: 100%;
}

li {
    margin: 1rem 2rem;
}

.nav-link {
    font-family: cursive;
    font-size: 3rem;
    letter-spacing: 0.6rem;
    /* border: 2px solid white; */
}

.menu-toggler {
    right: 6rem;
    width: 3rem;
    height: 2rem; 
    cursor: pointer;
    z-index: 999;
    transition: all 650ms ease-out;
}

.menu-toggler.open {
    transform: rotate(-45deg);
}

.bar {
    background-color: #fff;
    width: 100%;
    height: 4px;
    border-radius: 0.8rem;
}

.bar.half {
    width: 50%;
}

.bar.top {
    transform-origin: right;
    transition: transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
}

.open .bar.top {
    transform: rotate(-450deg) translateX(0.8rem);
}

.bar.bottom {
    align-self: flex-end;
    transform-origin: left;
    transition: transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
}

.open .bar.bottom {
    transform: rotate(-450deg) translateX(-0.8rem);
}

/* End Header Area*/

/* text-content start */

.text-container{
    min-height: 100vh;
}
.banner-info{
    border: 1px solid white;
}
.text-container h6 {
    font-weight: 800;
    font-size: 1.5vw;
    font-size: 20px;
    letter-spacing: 2px;
}


.text-container  h1 {
    /* font-size: 4rem; */
    font-size: 5vw;
    font-weight: 800;
    letter-spacing: 3px;
}

.text-container h2 {
    position: relative;
    font-weight: 900;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    z-index: -12;
    overflow: hidden;
}

.text-container h2 span {
    color: rgb(122, 120, 120);
}

.text-container h2:before {
    content: '';
    position: absolute;
    left: 20rem;
    width: 0;
    height: 100%;
    background: linear-gradient(90deg, transparent 0%, #000 5%, #000 100%);
    animation: animate 4s linear infinite;
}

@keyframes animate {
    0% {
        left: 30rem;
        width: 0;
    }

    50% {
        left: -20rem;
        width: 100%;
    }

}



/* about content start */
#about {
    /* border: 2px solid white; */
   min-height: 100vh;
}
.about-container{
    min-height: 100vh;
}

.home{
    border: 2px solid white;
}


.about-image img {
    filter: drop-shadow(2px 4px 8px black);
    border-radius: 6px;
}

.about-info{
    /* border: 2px solid white; */
    padding: 20px;
}

.about-title h1 {
    font-size: 10rem;
    text-transform: uppercase;
    text-align: center;
}

.about-title h3 {
    position: absolute;
    left: 36%;
    font-weight: 500;
    font-size: 16px;
}

.about-info  {
    font-size: 20px;
    color: rgb(75, 71, 71);
    z-index: 2;
}
.icons{
    border-radius: 50px;
    padding: 20px 25px;
}

.about-social-icons i {
    font-size: 20px;
}

.about-contact-info{
    font-size: 20px;
}

.about-contact_para{
    font-size: 12px;
}

.fixed-icon-cv a {
    position: fixed;
    z-index: 2;
    left: 0;
    top: 50%;
}

/* about content End */

/* Section Services Start */

.services-title{
    /* border: 2px solid white; */
}
.services-container-bg{
    height: 100vh;
    /* border: 2px solid white; */
}
#services p {
    letter-spacing: 0.3rem;
    font-size: 20px;
}

#services h3 {
    font-size: 25px;
}

#services i{
    font-size: 4rem;
}

#services .icon-info{
    font-size: 15px;
}


/* Section service End */

/* section education start */

/* #education {
    min-height: 100vh;
    border:  2px solid White;
} */
.education-container{
    min-height: 80vh;
    /* border: 2px solid White; */
}

#education h3 {
    color: rgb(75, 71, 71);
    font-size: 3rem;
    letter-spacing: 0.5rem;
    text-decoration: underline;
}

.educationInfo{
    /* border: 2px solid white; */
    font-size: 20px;
}


#education .border-bootom {
    border-bottom: 1px solid white;
}

/* section education send */

/* Section project Start */
#project {
    /* height: 200vh; */
    /* border: 2px solid white; */
}
.project_header{
    border: 2px solid white;
}

#project .text-banner {
    text-transform: uppercase;
}

#project p {
    letter-spacing: 0.3rem;
    text-transform: uppercase;
    font-size: 20px;
}

#project h1 {
    font-weight: bolder;
}
.project_image{
    border-radius: 6px;
}

#project p {
    letter-spacing: 0.2rem;
    text-transform: lowercase;

}

/* Section project End */

/* footer contact start */

.contact_info {
    border: 2px solid white;
}
.container-bg{
    height:  100vh;
}
.icons-bg {
    padding: 15px 21px;
    background-color: rgb(75, 71, 71);
    color: black;
    border-radius: 100%;
    font-size: 20px;
} 

.container-bg .fa-instagram:hover,
.fa-whatsapp:hover,
.fa-facebook:hover {
    color: #fff;
}

.contactUs-text{
    letter-spacing: 0.3rem;
    text-decoration: underline;
}
.contact-email{
    font-size: 20px;
}

.marquee {
    width: 100%;
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
    font-size: 22px;
}

.marquee span {
    display: inline-block;
    padding-left: 100%;
    text-indent: 0;
    animation: marquee 15s linear infinite;
}

.marquee span:hover {
    animation-play-state: paused
} 

/* Make it move */
@keyframes marquee {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(-100%, 0);
    }
}

/* footer contact end */